body {
    background-color: #7ea8be;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}

h1 {
    /* margin-top: 24px; */
    margin: 0px;
    height: 96px;
    font-size: 64px;
    text-align: center;
    background-color: #c2948a;
    vertical-align: middle;

}